[submodule "lib/common_lib"]
	path = lib/common_lib
	url = https://github.com/sjnah/common_lib.git
[submodule "lib/roi_filters_lib"]
	path = lib/roi_filters_lib
	url = https://github.com/sjnah/roi_filters_lib.git
[submodule "lib/object_builders_lib"]
	path = lib/object_builders_lib
	url = https://github.com/LidarPerception/object_builders_lib.git
[submodule "lib/segmenters_lib"]
	path = lib/segmenters_lib
	url = https://github.com/sjnah/segmenters_lib.git
[submodule "lib/costmap_converter"]
	path = lib/costmap_converter
	url = https://github.com/rst-tu-dortmund/costmap_converter
[submodule "lib/tracker_gp_lib"]
	path = lib/tracker_gp_lib
	url = https://github.com/sjnah/tracker_gp_lib.git
